@import '../../common/scss/colors';
@import '../../common/scss/variables';
@import '../../common/scss/typography';

.contact-us-form {
    $root: &;
    position: relative;
    display: flex;
    overflow: hidden;
    width: $col-width * 23;
    padding: 50px $col-width;

    &__title {
        @include font-4-desktop;
        width: $col-width * 6;
    }

    &__form-block {
        width: $col-width * 15;
    }

    &__info {
        @include font-3-desktop;
        margin-bottom: 53px;
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
    }

    &__confirm-text {
        @include font-1-desktop;
        width: $col-width * 7;
    }
}
