@import '../../common/scss/fonts.scss';
@import '../../common/scss/colors.scss';
* {
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
.category-card {
    $root: &;
    position: relative;
    display: flex;
    margin-bottom: 140px;
    cursor: pointer;
    &:last-child {
        margin-bottom: 0;
    }
    &__content {
        position: relative;
        width: 40vw;
        margin-right: 4vw;

        &-title {
            font-size: calc(12.502px + (1099.8vw - 8446.464px) / 1152 + 12.502px + (1099.8vh - 7335.666px) / 413);
            line-height: 1.5;
            color: $color-1;
            margin-bottom: 46px;
        }

        &-company {
            position: relative;
            font-size: calc(8px + (450vw - 3456px) / 1152 + 8px + (450vh - 3001.5px) / 413);
            color: $color-1;
            padding-left: 116px;
            margin-bottom: 50px;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 80px;
                height: 1px;
                background-color: $color-1;
                transform: translateY(-50%);
            }
        }
    }
    &__arrow {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        width: 46px;
        height: 46px;
        overflow: hidden;
        &_inner {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transition: transform .4s;
            transform: translate(0);
            will-change: transform;
        }
        svg {
            width: 36px;
            height: 36px;
            position: absolute;
            top: 50%;
            //left: 50%;
            fill: $color-1;
            //transform: translate3d(-50%, -50%, 0);
            will-change: transform;
            vertical-align: middle;
        }
    }
    &__image {
        position: relative;
        &-wrapper {
            position: relative;
            width: 40vw;
            height: 520px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 1.3s cubic-bezier(.165, .84, .44, 1);
                will-change: scale;
            }
        }
    }
}
.category-card:hover .category-card__image-wrapper>img {
    transform: scale(1.05);
}
.category-card:hover .arrow-link__arrow {
    transform: translateX(53px);
}
.category-card:hover .arrow-link__arrow:after,
.category-card:hover .arrow-link__arrow:before,
.category-card:hover .arrow-link__text:before {
    transform: scaleX(1);
}
@media (max-width: 1439px) and (min-width: 1200px) {
    .category-card__image-wrapper {
        height: 320px;
    }
}
@media (max-width: 1199px) {
    .category-card {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .category-card__content {
        margin-right: 0;
        width: 100%;
    }
    .category-card__content-title {
        margin-right: 40px;
        margin-bottom: 20px;
    }
    .arrow-link {
        display: none;
    }
    .category-card__arrow {
        display: block;
        top: 6px;
    }
    .category-card__image {
        width: 100%;
        &-wrapper {
            width: auto;
            min-height: auto;
            height: 480px;
        }
    }
}
@media (max-width: 767px) {
    .category-card {
        padding: 20px 0 0;
    }
    .category-card__arrow {
        top: -3px;
        right: -10px;
    }
    .category-card__arrow svg {
        width: 26px;
        height: 25px;
    }
    .category-card__image-wrapper {
        width: 100vw;
        min-height: auto;
        height: 62vw;
        margin: 0 -40px;
    }
}
