extends ../../layout/layout
include ../../components/page-lead-2/page-lead-2
include ../../components/news-content/news-content
include ../../components/contact-us-footer-expansion/contact-us-footer-expansion
include  ../../components/gallery-slider/gallery-slider
include ../../components/next-project/next-project


block content
    main#barba-wrapper
        .barba-container(data-namespace='news-1')
            +page-lead-2({
                mainLink: '/',
                name: 'Главная',
                pageLink: '/news.html',
                subName: 'Новости',
                title: 'Новый проект введен в эксплуатацию',
                descr: '31 августа 2019',
            })
            +news-content({
                path: './images/index.jpg',
                title: 'Чаяндинское нефтегазоконденсатное месторождение&nbsp;&mdash; \n' +
                    'одно из&nbsp;крупнейших на&nbsp;Востоке России. ',
                text1: 'Является базовым для формирования Якутского центра газодобычи и&nbsp;ресурсной базой для газопровода &laquo;Сила Сибири&raquo; (наряду с&nbsp;Ковыктинским месторождением в&nbsp;Иркут-\n' +
                    'ской области). Создание Якутского центра газодобычи в&nbsp;первую очередь направлено на&nbsp;обеспечение газом российских потребителей. С&nbsp;его развитием будут созданы необходи-\n' +
                    'мые условия для газоснабжения и&nbsp;газификации населенных пунктов Якутии и&nbsp;других реги-\n' +
                    'онов Дальнего Востока.',
                text2: 'Чаяндинское нефтегазоконденсатное месторождение&nbsp;&mdash; одно из&nbsp;крупнейших на&nbsp;Востоке России. Является базовым для формирования Якутского центра газодобычи и&nbsp;ресурсной базой для газопровода &laquo;Сила Сибири&raquo; (наряду с&nbsp;Ковыктинским месторождением в&nbsp;Иркут-\n' +
                    'ской области).',
                text3: 'Рыба! Габбро однородно. Окраска косвенно составляет слабоминерализованный триас, что обусловлено не&nbsp;только первичными неровностями эрозионно-тектонического рельефа поверхности кристаллических пород',
                text4: 'Чаяндинское нефтегазоконденсатное месторождение&nbsp;&mdash; одно из&nbsp;крупнейших на&nbsp;Востоке России. Является базовым для формирования Якутского центра газодобычи и&nbsp;ресурсной базой для газопровода &laquo;Сила Сибири&raquo; (наряду с&nbsp;Ковыктинским месторождением в&nbsp;Иркут-\n' +
                    'ской области).',
                quote: '&laquo;Цитата.&nbsp;22&nbsp;февраля был введен в&nbsp;эксплуатацию новый проект&nbsp;&mdash; Чаядинское месторождение.&raquo;',
                refTitle: 'Справка',
                refText: 'Рыба! Габбро однородно. Окраска косвенно составляет слабоминерализованный триас, что обусловлено не&nbsp;только первичными неровностями эрозионно-тектонического рельефа поверхности кристаллических пород',
            })
            +gallery-slider([
                {
                    path: './images/gallery-1.jpg',
                },
                {
                    path: './images/gallery-2.jpg',
                }
            ])
            +next-project({
                imgPath: './images/next.jpg',
                linkBack: '/news.html',
                linkBackName: 'Вернуться к новостям',
                text: 'Следующая новость',
                title: 'Новость компании рыбный текст, примерное написание Пензгидромаш производит',
                buttonLink: '#',
                buttonName: 'Смотреть новость',
            })
            +contact-us-footer-expansion
