@import '../../common/scss/fonts.scss';
@import '../../common/scss/colors.scss';

.index-slider {
    $root: &;
    position: relative;
    z-index: 2;
    background-color: $color-5;
    &__swiper {
        overflow: hidden;
    }
}

@media (max-width: 1199px) {
    .index-slider {
        display:none;
    }
}
