@import '../../common/scss/fonts.scss';
@import '../../common/scss/colors.scss';

.index-slider {
    $root: &;
    position: relative;
    z-index: 2;
    background-color: $color-5;
}
.title-slider {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
}
.title-slider .swiper-container {
    width: 100%;
}
.title-slider .swiper-container .title-slider .swiper-slide .title-slider .swiper-wrapper {
    height: 100%;
}
.title-slider__slider {
    flex: 0 1 100%;
}
.title-slider__navigation {
    flex: 0 0 auto;
}
.title-slide {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-end;
    min-height: 100%;
    color: $color-1;
}
._contrast, .title-slide {
    color: $color-5;
}
.title-slide__year {
    @include font-3-desktop;
    //font-size: 25px;
    line-height: 1.9;
    color: $black;
}
.title-slide__content {
    margin: auto 0;
}
.title-slide__name {
    display: inline-block;
    margin-bottom: 35px;
    @include font-4-desktop;
    color: $black;
    &:hover, :visited {
        text-decoration: none;
        outline: none;
        color: $black;
    }
}

.title-slide__owner {
    position: relative;
    margin-bottom: 5px;
    @include font-3-desktop;
    //font-size: 25px;
    //line-height: 1.6;
    color: $black;
    transition: color .3s linear;
    padding-left: 80px;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 37%;
        display: block;
        width: 50px;
        height: 1px;
        background-color: $black;
        transition: background-color .3s linear;
    }
}
.index-slider__swiper {
    overflow: hidden;
}
.slider-pair {
    margin: 0;
    overflow: visible !important;
    width: 58vw;
    &__slide {
        padding-right: 8vw;
        overflow: hidden;
    }
    &__img {
        min-width: 130%;
        height: 100%;
    }
}
.slider-pair__slide.swiper-slide-active .product-slide__box {
    opacity: 0;
}
.picture {
    display: block;
    &_cover img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &_contain img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.slide__container {
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.slide__box {
    position: absolute;
    height: 100%;
    width: calc(100% + 1px);
    background-color: $white;
    right: 0;
    top: 0;
    z-index: 2;
    visibility: hidden;
}
.slide__background {
    position: relative;
    overflow: hidden;
    height: calc(500px + (2000vw - 15360px)/1152);
    left: -1px;
}
.slide__background {
    height: 480px;
}
.slide__img {
    min-height: 100%;
    min-width: 100%;
    width: 130%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    position: absolute;
    left: -15%
}
.slider-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-navigation__arrow {
    position: relative;
    outline: transparent;
    cursor: pointer;
    display: block;
    height: 34px;
    width: 120px;
    transition: opacity .3s linear;
    svg {
        position: absolute;
        top: 50%;
        width: 17px;
        height: 34px;
        margin-top: -17px;
        transform-origin: center;
        transition: fill .3s linear;
        fill: $black;
    }
}

.slider-navigation__arrow:before {
    content: "";
    position: relative;
    top: 17px;
    display: block;
    width: 120px;
    height: 1px;
    background-color: $black;
    transform: translateY(-50%) scalex(.35);
    transition: transform .3s ease-out;
}
.main-page .slider-navigation__arrow:before {
    transition: background-color .3s linear;
}
._contrast .slider-navigation__arrow:before {
    background-color: $black;
}
.slider-navigation__arrow.focused:before {
    transform: translateY(-50%) scaleX(1);
}

.slider-navigation__arrow.swiper-button-disabled {
    opacity: .3;
    cursor: default;
    pointer-events: none;
}

.slider-navigation__arrow.swiper-button-disabled:before {
    transform: translateY(-50%) scalex(.35);
}
.slider-navigation__prev:before {
    transform-origin: left center;
}
.slider-navigation__prev .slider-navigation__arrow-svg {
    left: 0;
}
.slider-navigation__next:before {
    transform-origin: right center;
}
.slider-navigation__next svg {
    right: 0;
    transform: rotate(180deg);
}
.slider-navigation_no-counter .slider-navigation__counter {
    display: none;
}
.slider-navigation.about-slider_navigation {
    flex-direction: row;
    padding-top: 2px;
}
.slider-navigation.about-slider_navigation .slider-navigation__arrows {
    display: block;
    margin-left: 60px;
}
.slider-navigation.partners-slider__navigation {
    align-items: flex-start;
}
.slider-navigation.partners-slider__navigation .slider-navigation__counter {
    margin-bottom: 18.5vh;
}
.slider-navigation.slider-navigation_equipment {
    height: 27vw;
}
@media (max-width: 1199px) {
    .index-slider {
        display:none;
    }
}
