include ../title-slider/title-slider
include ../slider-pair/slider-pair

mixin index-slider(args)
    .index-slider&attributes(attributes)
        .container-fluid
            .row
                .col-6
                    +title-slider
                .col-17.offset-1
                    .index-slider__swiper
                        +slider-pair

