@import '../../common/scss/fonts.scss';
@import '../../common/scss/colors.scss';
* {
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

/* === Не могу понять где находится этот блок, шрифты не менял === */

.equipment-slider {
    $root: &;
    display: flex;
    margin-bottom: 40px;
    &__nav {
        width: 20vw;
        margin-right: 4vw;
    }
    &__container {
        position: relative;
        width: 66vw;
        overflow: hidden;
    }
    &__slide {
        position: relative;
        width: 50vw;
        margin-right: 8vw;
        &-title {
            font-size: calc(8px + (450vw - 3456px)/1152 + 8px + (450vh - 3001.5px)/413);
            color: $color-1;
            margin-bottom: 16px;
        }
        &-text {
            width: 37vw;
            font-size: calc(6.93px + (207vw - 1589.76px)/1152 + 6.93px + (207vh - 1380.69px)/413);
            color: $color-1;
            margin-right: 4vw;
            line-height: 1.7;
        }
        &:last-child {
            margin-right: 16vw
        }
    }
    &__image {
        position: relative;
        width: 100%;
        height: 27vw;
        margin-bottom: 50px;
        overflow: hidden;
        cursor: pointer;
        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            transition: background-color .5s;
            z-index: 3;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-icons {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translate(-50%, -50%);
            transition: opacity .5s, visibility .5s;
            span {
                font-weight: 500;
                font-size: calc(4.2px + (280vw - 2150.4px)/1152 + 4.2px + (280vh - 1867.6px)/413);
                color: $white;
                margin-right: 16px;
                &:last-child {
                    margin-right: 0;
                }
            }
            svg {
                width: 25px;
                height: 25px;
                margin-right: 8px;
            }
        }
    }
}
.equipment-slider__image:hover .equipment-slider__image-overlay {
    background-color: rgba($black, .5)
}

.equipment-slider__image:hover .equipment-slider__image-icons {
    opacity: 1;
    visibility: visible;
}

.equipment-slider.project-slider_equipment .equipment-slider__image {
    margin-bottom: 0
}
.picture_cover {
    object-fit: cover;
}

@media (max-width: 1199px) {
    .equipment-slider {
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 60px;
        margin-bottom: 80px;
        &__nav {
            margin-bottom: 40px;
            width: 100%;
            margin-right: 0;
        }
    }
    .slider-navigation, .slider-navigation_equipment {
        flex-direction: column-reverse;
        height: auto!important;
        padding-right: 60px;
    }
    .slider-navigation__title {
        margin-bottom: 40px;
    }
    .slider-navigation__arrows-equipment {
        display: none!important;
    }
    .equipment-slider__container {
        width: 100%;
    }
    .slider-pair {
        width: calc(100vw - 80px);
    }
}
@media (max-width: 767px) {
    .equipment-slider {
        margin-left: 30px!important;
        margin-bottom: 40px!important;
        &__nav {
            margin-bottom: 20px!important;
        }
    }
    .slider-pair {
        width: calc(100vw - 15px)!important;
        height: 340px;
    }
    .slider-navigation__title {
        margin-bottom: 30px;
        font-size: 25px;
    }
}
