mixin contact-us-head(args)
    .contact-us-head&attributes(attributes)
        .contact-us-head__nav
            a(href='index.html') Главная
            span  > Контакты
        .contact-us-head__blocks
            .contact-us-head__main-title Контакты
            .contact-us-head__address
                .contact-us-head__title Наш офис
                .contact-us-head__text
                    br
                    | Пенза
                    br
                    | 440015, ул. Аустрина,
                    br
                    | дом 63, корпус 7
            .contact-us-head__contacts
                .contact-us-head__title Связаться
                .contact-us-head__text
                    br
                    | 8 (8412) 45-89-99, 45-89-79,
                    br
                    |  8 (499) 348-20-55
                    br
                    | om@penzgidromash.ru
