
.page-lead-1 {
    $root: &;
    display: flex;
    height: 42vw;
    margin-bottom: 140px;

    &__breadcrumbs {
        margin-top: 13vw;
        margin-bottom: 26px;
        &__link {
            @include font-2-desktop;
            color: hsla(0, 0, 84%, .5);
            transition: color .3s;
            cursor: pointer;

            &:hover {
                color: $white;
            }
        }
        &__icon {
            margin: 0 20px 0 16px;
            transform: translateY(-20%);
            span {
                display: block;
                position: relative;
                width: 8px;
                height: 8px;
                transform: rotate(-45deg);
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    color: hsla(0, 0, 84%, .5);
                    left: 0;
                    width: 100%;
                    height: 1px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    color: hsla(0, 0, 84%, .5);
                    right: 0;
                    width: 1px;
                    height: 100%;
                }
            }
            &:last-child {
                display: none;
            }
        }
    }

    &__content {
        position: relative;
        width: 46vw;
        color: $white;
        background-color: $main-color;
        &-offset {
            padding-left: 4vw;
        }
        &-title {
            padding-right: 2vw;
            @include font-5-desktop;
        }
    }
    &__background {
        position: relative;
        width: 50vw;
        overflow: hidden;
        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, .4);
            transition: background-color .3s;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }
}
.page-lead-1__breadcrumbs__icon span:after,
.page-lead-1__breadcrumbs__icon span:before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: hsla(0, 0%, 84%, .5);
}

@media (max-width: 1439px) and (min-width: 1200px) {
    .page-lead-1__content-title {
            font-size: 67px;
    }
}
@media (max-width: 1119px) {
    .page-lead-1 {
        flex-direction: column;
        height: auto;
        margin-bottom: 80px;
        &__content {
            width: 100%;
            padding: 0 60px 80px;
            &-offset {
                padding-left: 0;
            }
            &-title {
                @include font-5-tablet;
            }
        }
        &__breadcrumbs {
            margin-top: 206px;
            &__link {
                @include font-2-tablet;
            }
        }
        &__background {
            width: 100%;
            height: 480px;
        }
    }
}

@media (max-width: 1119px) and (max-width: 766px) {
    .page-lead-1 {
        margin-bottom: 45px;
        &__content {
            padding: 0 30px 60px;
            &-offset {
                padding-left: 0;
            }

            &-title {
                @include font-5-mobile;
            }
        }
        &__breadcrumbs {
            margin-top: 102px;
            margin-bottom: 16px;
            &__link {
                @include font-2-mobile;
            }
            &__link {
                font-size: 12px;
            }
        }
        &__background {
            height: 250px;
            &-overlay {
                background-color: transparent;
            }
        }
    }
}

