@import './functions';
@import './variables';
@import './custom';
@import './colors';
@import './typography';
@import './utils';
@import '~swiper/dist/css/swiper.min';
@import '~simplebar/dist/simplebar.min';
@import '../../layout/layout';
@import '~perfect-scrollbar/css/perfect-scrollbar';
@import '~hyperform/css/hyperform';
@import '../../components/header/header';
@import '../../components/footer/footer';
@import '../../components/sandwich-menu/sandwich-menu';
@import '../../components/preloader/preloader';
@import '../../pages/index/index';
@import '../../pages/tests/tests';
@import '../../components/picture/picture';
@import '../../components/first-screen/first-screen';
@import '../../components/description-block/description-block';
@import '../../components/catalog-item/catalog-item';
@import '../../components/arrow-link/arrow-link';
@import '../../components/contacts/contacts';
@import '../../components/index-slider/index-slider';
@import '../../components/page-lead-2/page-lead-2';
@import '../../components/category-card/category-card';
@import '../../components/project-slider/project-slider';
@import '../../components/equipment-slider/equipment-slider';
@import '../../components/section-title/section-title';
@import '../../pages/projects/projects';
@import '../../components/infoblock-line/infoblock-line';
@import '../../components/infoblock-list/infoblock-list';
@import '../../components/index-infoblocks/index-infoblocks';
@import '../../components/mobile-button/mobile-button';
@import '../../components/mobile-list/mobile-list';
@import '../../pages/contact_us/contact_us';
@import '../../components/contact-us-head/contact-us-head';
@import '../../components/penz-departments/penz-departments';
@import '../../components/contact-us-map/contact-us-map';
@import '../../components/title-slider/title-slider';
@import '../../components/slider-navigation/slider-navigation';
@import '../../components/slider-pair/slider-pair';
@import '../../pages/project-3/project-3';
@import '../../components/page-lead-1/page-lead-1';
@import '../../components/info-block-10/info-block-10';
@import '../../components/reviews/reviews';
@import '../../components/next-project/next-project';
@import '../../pages/news/news';
@import '../../components/news-slider/news-slider';
@import '../../components/contact-us-footer-expansion/contact-us-footer-expansion';
