@font-face {
    font-family:'Gilroy';
    src: url('../../fonts/Gilroy-Extrabold.woff2') format('woff2'),
         url('../../fonts/Gilroy-Extrabold.woff') format('woff'),
         url('../../fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Gilroy';
    src: url('../../fonts/Gilroy-Bold.woff2') format('woff2'),
         url('../../fonts/Gilroy-Bold.woff') format('woff'),
         url('../../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Gilroy';
    src: url('../../fonts/Gilroy-Medium.woff2') format('woff2'),
         url('../../fonts/Gilroy-Medium.woff') format('woff'),
         url('../../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Gilroy';
    src: url('../../fonts/Gilroy-Regular.woff2') format('woff2'),
         url('../../fonts/Gilroy-Regular.woff') format('woff'),
         url('../../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../../fonts/Gilroy-Light.woff') format('woff'),
    url('../../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('../../fonts/TTFirsNeue-Bold.woff2') format('woff2'),
    url('../../fonts/TTFirsNeue-Bold.woff') format('woff'),
    url('../../fonts/TTFirsNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
