@import "./fonts.scss";


@mixin font-1 {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.5;
}

@mixin font-2 {
    font-weight: 400;
    font-size: 4.7rem;
    line-height: 1.5;
}

@mixin font-3 {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.17;
}

@mixin font-4 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
}

@mixin font-5 {
    font-weight: 400;
    font-size: 8.4rem;
    line-height: 1;
}
