@import "./fonts.scss";

/* === font-size: 14px === */

@mixin font-1-desktop {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
}

@mixin font-1-tablet {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
}

@mixin font-1-mobile {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* === font-size: 18px === */

@mixin font-2-desktop {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.8;
}

@mixin font-2-tablet {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.8;
}

@mixin font-2-mobile {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
}

/* === font-size: 25px === */

@mixin font-3-desktop {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.6;
}

@mixin font-3-tablet {
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 1.8;
}

@mixin font-3-mobile {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
}


/* === font-size: 47px === */

@mixin font-4-desktop {
    font-weight: 400;
    font-size: 4.7rem;
    line-height: 1.5;
}

@mixin font-4-tablet {
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 1.6;
}

@mixin font-4-mobile {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.5;
}

/* === font-size: 84px === */

@mixin font-5-desktop {
    font-weight: 400;
    font-size: 8.4rem;
    line-height: 1;
}

@mixin font-5-tablet {
    font-weight: 400;
    font-size: 5rem;
    line-height: 1.2;
}

@mixin font-5-mobile {
    font-weight: 400;
    font-size: 4rem;
    line-height: 1.2;
}

/* === font-size: 160px === */

@mixin font-6-desktop {
    font-weight: 400;
    font-size: 16rem;
    line-height: 1;
}

@mixin font-6-tablet {
    font-weight: 400;
    font-size: 9.4rem;
    line-height: 1.2;
}

@mixin font-6-mobile {
    font-weight: 400;
    font-size: 7rem;
    line-height: 1.2;
}

/* === font-size: 200px === */

@mixin font-7-desktop {
    font-weight: 400;
    font-size: 20rem;
    line-height: 0.9;
}

@mixin font-7-tablet {
    font-weight: 400;
    font-size: 15.4rem;
    line-height: 0.9;
}

@mixin font-7-mobile {
    font-weight: 400;
    font-size: 9.6rem;
    line-height: 0.9;
}

/* === font-size: 260px === */

@mixin font-8-desktop {
    font-weight: 500;
    font-size: 26rem;
    line-height: 0.9;
}
// Шрифт font-8 только на desktop

