include ../../common/pug/mixins
include ../sandwich-menu/sandwich-menu


mixin header(args)
    header.header.header--top.arrow-down&attributes(attributes)
        each logoItem in args[0]
            a.header__logo-container(href=logoItem.link ? logoItem.link : '#')
                +svg({name: 'logoPenz'}).header__logo-svg
                .header__logo-text.header__logo-text--hide!= logoItem.text ? logoItem.text : ''
        .header__nav-container
            each linkItem in args[1]
                a.header__nav-link(href=linkItem.link ? linkItem.link : '#')!= linkItem.text ? linkItem.text : ''
        .menu
            .sandwich
                .sandwich__inner
                    .sandwich__lines
                        .sandwich__line.sandwich__line--top
                        .sandwich__line.sandwich__line--bottom
                .sandwich__text
                    .sandwich__text-item.sandwich__text-item--menu
                        | меню
                    .sandwich__text-item.sandwich__text-item--close
                        | закрыть
            .menu__arrow
                +svg({name: 'arrow'}).menu__arrow-svg
        +sandwich-menu(args[1])
