@import "../../common/scss/colors";
@import "../../common/scss/variables";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $col-width*2 0 $col-width;
    z-index: 10;

    //TODO Убрать
    background: $main-color;

    &__logo-container{
        display: flex;
        height: 38px;
    }

    &__logo-svg{
        width: 100px;
        height: 93px;
    }

    &__logo-text{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 20px;
        text-transform: uppercase;
    }

    &__nav-container{
        width: $col-width*10;
        display: flex;
        justify-content: space-between;
    }

    &__nav-link{
        text-transform: uppercase;
        opacity: .5;
        color: $color-5;
        transition: opacity .3s;

        &:hover{
            color: $color-5;
            opacity: 1;
        }
    }
}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    width: $col-width;
    background: $color-3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__arrow{
        width: 49px;
        height: 49px;
        margin-bottom: $col-width*0.5;
        cursor: pointer;

        &-svg{
            width: 100%;
            height: 100%;
        }
    }

    &--close{
        //TODO Меню в закрытом состоянии
    }

}

.sandwich{
    width: 100%;
    height: 100px;
    cursor: pointer;

    &__inner{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__lines{
        width: $col-width*0.375;
        height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__line{
        width: 100%;
        height: 2px;
        background: $color-1;
    }

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-item{
            text-transform: uppercase;
            color: $color-1;
            transform: rotate(90deg);
            letter-spacing: 0.1em;

            &--active{
                opacity: 1;
            }

            &--hide{
                opacity: 0;
            }
        }
    }

}


