@import '../../common/scss/colors.scss';

.category__list {
    padding-top: 134px;
    border-top: 1px solid $color-3;
    margin-bottom: 120px;
}
@media (max-width: 1199px) and (min-width: 768px) {
    .category__list {
        padding-top: 50px;
        margin-bottom: 80px;
    }
}
@media (max-width: 767px) {
    .category__list {
        padding-top: 0;
        margin-bottom: 40px;
    }
}
