mixin footer(args)
    footer.footer&attributes(attributes)
        .footer__copyright
            span © 2019 ООО «ПензГидромаш»
        a.footer__design(href="https://onlydigital.ru")
            span Design by
            span.footer__only  Only.
