@import '../../common/scss/colors';
@import '../../common/scss/variables';

.footer {
    background-color: $main-color;
    color: $color-5;
    display: flex;
    justify-content: space-between;
    width: $col-width * 23;
    padding: 44px $col-width;
    font-size: 14px;
    line-height: 1.6;
    border-top: 1px solid $color-5;

    &__copyright {
        font-family: Gilroy, serif;
        font-weight: 400;
    }

    &__design {
        font-family: Gilroy, serif;
        font-weight: 400;
    }

    &__only {
        font-family: TT Firs Neue, serif;
        font-weight: bold;
        font-style: normal;
    }

    a, a:active, a:visited {
        color: $color-5;
    }
}
