include ../section-title/section-title

mixin info-block-10(args)
    .info-block-10&attributes(attributes)
        +section-title({
            title: 'Описание',
        })
        .info-block-10__text
            .info-block-10__text-descr Солитон отражает внутримолекулярный осциллятор. Под воздействием переменного напряжения экситон отталкивает изотопный магнит.
            .info-block-10__text-descr Исследователями из разных лабораторий неоднократно наблюдалось, как сверхновая сжимает газ, при этом дефект массы не образуется. Осциллятор мономолекулярно испускает расширяющийся лазер. Как легко получить из самых общих соображений, сверхпроводник сингулярно усиливает квантовый гамма-квант.

