.arrow-link {
    $root: &;
    &__text {
        display: inline-block;
        position: relative;
        margin-right: 9px;
        @include font-2-desktop;
        color: $color-1;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $color-1;
            transition: width 0.3s ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $color-1;
            transition: width 0.3s ease-in-out;
        }
    }

    &__arrow {
        display: inline-block;
        vertical-align: top;
        position: relative;
        //stroke: $color-1;
        transition: stroke .5s;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 15px;
            width: 0;
            height: 1px;
            background-color: $color-1;
            transition: width 0.3s ease-in-out;
        }

        svg {
            width: 21px;
            height: 20px;
            transition: transform 0.3s ease-in-out;
        }
    }

    &:hover & {
        &__text::before {
            width: 100%;
        }

        &__arrow svg {
            transform: translateX(50px);
        }

        &__arrow::before {
            width: 50px;
        }
    }
}
