@import '../../common/scss/fonts.scss';
@import '../../common/scss/colors.scss';

.project-slider {
    $root: &;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 140px;
    &__bottom {
        width: 100%;
        overflow: hidden;
    }
    &__container {
        position: relative;
        margin-top: 94px;
        margin-right: 8vw;
        overflow: visible;
    }
    &__slide {
        padding-right: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20vw;
        height: auto;
        &-title {
            @include font-3-desktop;
            color: $color-1;
            margin-bottom: 40px;
        }
        &-line {
            width: 100%;
            height: 1px;
            background-color: $color-1;
            margin-bottom: 40px;
        }
    }
    &__navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        margin-right: 4vw;
    }
}
.project-slider__navigation .slider-navigation__counter {
    display: none
}
.slider-navigation__next-project:before {
    transform-origin: right center;
}
.slider-navigation__next-project svg {
    right: 0;
    transform: rotate(180deg);
}
.slider-navigation__prev-project:before {
    transform-origin: left center;
}
.slider-navigation__prev-project {
    left: 0;
}
@media (max-width: 1199px) and (min-width: 768px){
    .project-slider {
        padding-bottom: 80px;
        &__navigation {
            margin-right: 60px;
        }
        &__slide {
            width: 33vw;
            &-title {
                @include font-3-tablet;
                margin-bottom: 20px;
            }
            &-line {
                margin-bottom: 20px;
            }
        }
    }
    .slider-navigation__arrow, .slider-navigation__arrow:before {
        width: 80px;
    }

}
@media (max-width: 767px) {
    .project-slider {
        padding-bottom: 20px;
        &__title {
            order: 1;
            margin: 0 30px 25px!important;
        }
        &__navigation {
            order: 2;
            width: 100%;
            padding: 0 30px;
            margin: 0 0 25px;
            display: flex!important;
            flex-direction: row!important;
            align-items: center!important;
        }
        &__slide {
            width: 100%;
            padding-right: 0;
            &-title {
                @include font-3-mobile;
                margin-bottom: 5px;
            }
            &-line {
                display: none;
            }
        }

    }
    .slider-navigation__arrow, .slider-navigation__arrow:before {
        width: 40px;
    }
    .slider-navigation__counter {
        display: flex!important;
        width: 50%!important;
        font-size: 16px;
    }
    .slider-navigation__current, .slider-navigation__separator, .slider-navigation__total {
        height: auto;
    }
    .slider-navigation__arrows {
        justify-content: space-between;
        width: 50%!important;
    }
    .slider-navigation__arrow svg {
        width: 12px;
        height: 24px ;
        margin-top: 0;
    }
    .slider-navigation__arrow:before {
        top: 30px;
    }
    .project-slider__bottom {
        order: 3;
        padding: 25px 30px 15px;
        margin-left: 0;
        margin-bottom: 25px;
        border-top: 1px solid $color-3;
        border-bottom: 1px solid $color-3;
    }
    .project-slider__container {
        margin: 0;
        overflow: hidden;
    }
}
