.slider-navigation {
    $root: &;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__arrow {
        position: relative;
        outline: transparent;
        cursor: pointer;
        display: block;
        height: 34px;
        width: 120px;
        transition: opacity .3s linear;
        svg {
            position: absolute;
            top: 50%;
            width: 17px;
            height: 34px;
            margin-top: -17px;
            transform-origin: center;
            transition: fill .3s linear;
            fill: $black;
        }
        &:before {
            content: "";
            position: relative;
            top: 17px;
            display: block;
            width: 120px;
            height: 1px;
            background-color: $black;
            transform: translateY(-50%) scalex(.35);
            transition: transform .3s ease-out;
        }
    }
}
.title-slider__navigation {
    flex: 0 0 auto;
}
.slider-navigation_no-counter .slider-navigation__counter {
    display: none;
}
.slider-navigation__arrow.focused:before {
    transform: translateY(-50%) scaleX(1);
}
.slider-navigation__arrow.swiper-button-disabled {
    opacity: .3;
    cursor: default;
    pointer-events: none;
}
.slider-navigation__arrow.swiper-button-disabled:before {
    transform: translateY(-50%) scalex(.35);
}
.slider-navigation__prev:before {
    transform-origin: left center;
}
//.slider-navigation__prev, .slider-navigation__arrow-svg {
//    left: 0;
//}
.slider-navigation__next:before {
    transform-origin: right center;
}
.slider-navigation__next svg {
    right: 0;
    transform: rotate(180deg);
}
//.slider-navigation_no-counter .slider-navigation__counter {
//    display: none;
//}
//.slider-navigation.about-slider_navigation {
//    flex-direction: row;
//    padding-top: 2px;
//}
//.slider-navigation.about-slider_navigation .slider-navigation__arrows {
//    display: block;
//    margin-left: 60px;
//}
//.slider-navigation.partners-slider__navigation {
//    align-items: flex-start;
//}
//.slider-navigation.partners-slider__navigation .slider-navigation__counter {
//    margin-bottom: 18.5vh;
//}
//.slider-navigation.slider-navigation_equipment {
//    height: 27vw;
//}
