mixin contact-us-map(args)
    .contact-us-map&attributes(attributes)
        //script(type='text/javascript' src="https://api-maps.yandex.ru/2.1/?apikey=2946900a-a1c0-45dd-b689-ba9d5c725cde&lang=ru_RU")
        div#YMapsID
