@import '../../common/scss/fonts.scss';
@import '../../common/scss/colors.scss';
* {
    font-family: Gilroy, sans-serif;
    font-weight: 400;
}
.page-lead-2 {
    $root: &;
    display: flex;
    &__breadcrumbs {
        margin-top: 238px;
        margin-bottom: 26px;
    }
    &__content {
        position: relative;
        width: 100%;
        padding-bottom: 175px;
        color: $black;
    }
    &__content-offset {
        padding-left: 4vw;
    }
    &__content-title {
        font-weight: 500;
        font-size: calc(25.2px + (1680vw - 12902.4px)/1152 + 25.2px + (1680vh - 11205.6px)/413);
        line-height: 1;
        width: 66vw;
    }
    &__content-tagline {
        margin-top: 45px;
        font-size: calc(8px + (450vw - 3456px)/1152 + 8px + (450vh - 3001.5px)/413);
        line-height: 1.6;
        width: 42vw;
        color: $black;
    }
}
.page-lead-2__breadcrumbs {
    margin-top: 102px
}
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__link {
        font-weight: 300;
        font-size: calc(5.999px + (100.1vw - 768.768px)/1152 + 5.999px + (100.1vh - 667.667px)/413);
        color: ($black, .5);
        transition: color .3s;
        cursor: pointer;
        &:hover {
            color: $white;
        }
    }
    &__icon {
        margin: 0 20px 0 16px;
        transform: translateY(-20%);
        span {
            display: block;
            position: relative;
            width: 8px;
            height: 8px;
            transform: rotate(-45deg);
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                color: ($black, .5);
                left: 0;
                width: 100%;
                height: 1px;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                color: rgba($black, .5);
                right: 0;
                width: 1px;
                height: 100%
            }
        }
        &:last-child {
            display: none
        }
    }
}
.breadcrumbs.breadcrumbs__contrast .breadcrumbs__link {
    color: rgba($black, .5)
}

.breadcrumbs.breadcrumbs__contrast .breadcrumbs__link:hover {
    color: $black
}

.breadcrumbs.breadcrumbs__contrast .breadcrumbs__icon span:after,
.breadcrumbs.breadcrumbs__contrast .breadcrumbs__icon span:before {
    background-color: rgba($black, .5)
}

@media (max-width: 1199px) and (min-width: 768px) {
    .page-lead-2__content {
        padding-bottom: 80px;
    }
}

@media (max-width: 767px) {
    .page-lead-2 {
        height: auto;
        margin-bottom: 50px;
    }
    .page-lead-2__content {
        padding-bottom: 10px;
    }
}
