@import '../../common/scss/fonts.scss';
@import '../../common/scss/colors.scss';

.page-lead-2 {
    $root: &;
    display: flex;
    background: $color-5;
    &__breadcrumbs {
        margin-top: 238px;
        margin-bottom: 26px;
    }
    &__content {
        position: relative;
        width: 100%;
        padding-bottom: 175px;
        color: $black;
    }
    &__content-offset {
        padding-left: 4vw;
    }
    &__content-title {
        @include font-5-desktop;
        font-weight: 500;
        width: 66vw;
    }
    &__content-tagline {
        margin-top: 45px;
        @include font-3-desktop;
        width: 45vw;
        color: $black;
    }
}
.page-lead-2__breadcrumbs {
    margin-top: 102px
}
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__link {
        @include font-1-desktop;
        color: ($black, .5);
        transition: color .3s;
        cursor: pointer;
        &:hover {
            color: $white;
        }
    }
    &__icon {
        margin: 0 20px 0 16px;
        transform: translateY(-20%);
        span {
            display: block;
            position: relative;
            width: 8px;
            height: 8px;
            transform: rotate(-45deg);
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                color: ($black, .5);
                left: 0;
                width: 100%;
                height: 1px;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                color: rgba($black, .5);
                right: 0;
                width: 1px;
                height: 100%
            }
        }
        &:last-child {
            display: none
        }
    }
}
.breadcrumbs.breadcrumbs__contrast .breadcrumbs__link {
    color: rgba($black, .5)
}

.breadcrumbs.breadcrumbs__contrast .breadcrumbs__link:hover {
    color: $black
}

.breadcrumbs.breadcrumbs__contrast .breadcrumbs__icon span:after,
.breadcrumbs.breadcrumbs__contrast .breadcrumbs__icon span:before {
    background-color: rgba($black, .5)
}

@media (max-width: 1199px) and (min-width: 768px) {
    .page-lead-2__content {
        padding-bottom: 80px;
        &-title {
            @include font-5-desktop(400);
        }
        &-tagline {
            @include font-3-tablet;
        }
    }
}

@media (max-width: 767px) {
    .page-lead-2 {
        height: auto;
        &__content {
            padding-bottom: 10px;
            &-title {
                @include font-5-mobile;
            }
            &-tagline {
                @include font-3-mobile;
                margin-bottom: 50px;
            }
        }
    }
}
