mixin contacts(args)
    .contacts&attributes(attributes)
        .contacts__info
            .contacts__reqest
                p
                    | Оставьте заявку и&nbsp;менеджеры
                    br
                    | свяжутся в&nbsp;удобное для вас время
                .contacts__line
                .contacts__link
                    a Оставьте заявку
                    //.contacts__arrowbox
                    //    +svg({name: 'Vector'})(class = 'contacts__arrow')
                    //    +svg({name: 'Vector'})(class = 'contacts__arrow--hover')
            .contacts__all
                p
                    | Пенза, ул.&nbsp;Аустрина, дом&nbsp;63, корпус&nbsp;7
                    br
                    br
                    | 8&nbsp;(8412)&nbsp;45-89-99
                    br
                    | 8&nbsp;(8412)&nbsp;45-89-79
                    br
                    | 8&nbsp;(499)&nbsp;348-20-55
                    br
                    br
                    | om@penzgidromash.ru
                .contacts__line
                .contacts__link
                    a Все контакты
                    //.contacts__arrowbox
                    //    +svg({name: 'Vector'})(class = 'contacts__arrow')
                    //    +svg({name: 'Vector'})(class = 'contacts__arrow--hover')
        h1.contacts__title
            | Пенз
            br
            | Гидро
            br
            | Маш
