include ../common/pug/mixins
include ../common/pug/helpers
include ../components/header/header
include ../components/footer/footer
include ../components/preloader/preloader
include ../components/contacts/contacts
include ../components/first-screen/first-screen

doctype html
html(lang='ru')
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(charset='utf-8')
    body.preloading
        +header([
            [
                {
                    text: 'пензгидромаш',
                    link: '/'
                }
            ],
            [
                {
                    text: 'компания',
                    link: '#'
                },
                {
                    text: 'продукты и услуги',
                    link: '#'
                },
                {
                    text: 'проекты',
                    link: './projects.html'
                },
                {
                    text: 'новости',
                    link: './news.html'
                },
                {
                    text: 'контакты',
                    link: '#'
                },
            ]
        ])
        block content
        +footer
        +preloader

